{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto mt-10 text-center">
    <h1 class="text-2xl font-bold mb-4">Redirecting...</h1>
    <p class="text-gray-700">You are being redirected to <a href="{{ long_url }}" class="text-blue-500">{{ long_url }}</a>.</p>
    <p class="text-gray-500">If you are not redirected, <a href="{{ long_url }}" class="text-blue-500">click here</a>.</p>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{{ long_url }}";
    }, 2000); // Redirect after 2 seconds
</script>
{% endblock %}